
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex; 
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.box, #task { 
  
  height: 100%; 
}


.box {
  width: 20%;
  background-color: #d1e7dd; 
}

#task {
  width: 80%;
  background-color: #f8d7da; 
}
